xml2genericxml/versions/biotools-3.0.0/biotools-3.0.0_framework.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 rel. 2 sp1 (x64) (http://www.altova.com) by Jon Ison (private) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="list">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="list-item" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="name" type="xs:string"/>
										<xs:element name="description" type="xs:string"/>
										<xs:element name="homepage" type="xs:anyURI"/>
										<xs:element name="biotoolsID" type="xs:string" minOccurs="0"/>
										<xs:element name="biotoolsCURIE" type="xs:string" minOccurs="0"/>
										<xs:element name="version" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="list-item" type="xs:string" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="otherID" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="list-item" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="value" type="xs:string"/>
																<xs:element name="type" type="xs:string" minOccurs="0"/>
																<xs:element name="version" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="function" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="list-item" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="operation">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="list-item" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="uri" type="xs:anyURI" minOccurs="0"/>
																						<xs:element name="term" type="xs:string" minOccurs="0"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="input" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="list-item" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="data">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="list-item" maxOccurs="unbounded">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="uri" type="xs:anyURI" minOccurs="0"/>
																												<xs:element name="term" type="xs:string" minOccurs="0"/>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="format" minOccurs="0">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="list-item" maxOccurs="unbounded">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="uri" type="xs:anyURI" minOccurs="0"/>
																												<xs:element name="term" type="xs:string" minOccurs="0"/>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="output" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="list-item" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="data">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="list-item" maxOccurs="unbounded">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="uri" type="xs:anyURI" minOccurs="0"/>
																												<xs:element name="term" type="xs:string" minOccurs="0"/>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="format" minOccurs="0">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="list-item" maxOccurs="unbounded">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="uri" type="xs:anyURI" minOccurs="0"/>
																												<xs:element name="term" type="xs:string" minOccurs="0"/>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="note" type="xs:string" minOccurs="0"/>
																<xs:element name="cmd" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="toolType" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="list-item" type="xs:string" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="topic" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="list-item" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="uri" type="xs:anyURI" minOccurs="0"/>
																<xs:element name="term" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="operatingSystem" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="list-item" type="xs:string" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="language" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="list-item" type="xs:string" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="license" type="xs:string" minOccurs="0"/>
										<xs:element name="collectionID" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="list-item" type="xs:string" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="maturity" type="xs:string" minOccurs="0"/>
										<xs:element name="cost" type="xs:string" minOccurs="0"/>
										<xs:element name="accessibility" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="list-item" type="xs:string" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="elixirPlatform" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="list-item" type="xs:string" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="elixirNode" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="list-item" type="xs:string" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="link" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="list-item" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="url" type="xs:anyURI"/>
																<xs:element name="type" type="xs:string"/>
																<xs:element name="note" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="download" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="list-item" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="url" type="xs:anyURI"/>
																<xs:element name="type" type="xs:string"/>
																<xs:element name="note" type="xs:string" minOccurs="0"/>
																<xs:element name="version" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="documentation" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="list-item" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="url" type="xs:anyURI"/>
																<xs:element name="type" type="xs:string"/>
																<xs:element name="note" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="publication" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="list-item" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="doi" type="xs:string" minOccurs="0"/>
																<xs:element name="pmid" type="xs:string" minOccurs="0"/>
																<xs:element name="pmcid" type="xs:string" minOccurs="0"/>
																<xs:element name="type" type="xs:string" minOccurs="0"/>
																<xs:element name="version" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="credit" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="list-item" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="name" type="xs:string" minOccurs="0"/>
																<xs:element name="email" type="xs:string" minOccurs="0"/>
																<xs:element name="url" type="xs:anyURI" minOccurs="0"/>
																<xs:element name="orcidId" type="xs:string" minOccurs="0"/>
																<xs:element name="typeEntity" type="xs:string" minOccurs="0"/>
																<xs:element name="typeRole" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="list-item" type="xs:string" maxOccurs="unbounded"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="note" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
